body {
  font-family: sans-serif;
  margin: 0;
  padding: 0em;
  max-width: 700px;
  display: flex;
  align-items: flex-start;
  font-size: 10.5pt;
  font-weight: lighter;
}
div#left-column {
  flex: 1 1 400px;
  padding: 1em;
  line-height: 1.5em;
}

div#right-column {
  flex: 1 30px;
  padding: 1em;
  line-height: 3em;
}
#initials,
h1,
h2 {
  text-align: center;
  font-weight: bold;
}

h1,
h2,
h3 {
  margin-bottom: 0.35em;
}

#initials,
h2 {
  margin: 1.5rem 10;
  padding-bottom: 0.25rem;
}

#initials {
  font-family: serif;
  font-size: 25em;
  margin-bottom: 2rem;
  padding: 2rem;
}

h1 {
  margin-bottom: 0.75em;
}
